 body {
     background: url(../img/birthday.jpg);
     background-size: cover;
     background-position: center;

 }

 .date {
     background: #e4f160;
 }

 .button {
     background: #f36d64;
 }

 .menu {
     background: #926bd7;
 }

 .window-fold {
     background: #f76295;
 }

 .collapse-btn {
     background: #4CAF50;
 }

 .close-btn {
     background: #F44336;
 }
 
 .window-head {
    background: #ffd044;
}

 .window-head-system {
    background: #ffd044;
  }

 #greenBar {
     width: 10%;
     height: 30px;
     background-color: #4CAF50;
     text-align: center;
     line-height: 30px;
     color: white;
     text-align: center;
 }

 .start-download {
     background: #FF9800;
     overflow: hidden;
 }
