 body {
     background: url(../img/helloween.jpg);

 }

 .date {
     background: #e5b116;
 }

 .button {
     background: #FF9800;
     border-radius: 26px;
 }

 .menu {
     background: #e95a15;
 }

 .window-fold {
     background: #ffbf00;
 }

 .collapse-btn {
     background: #ff9800;
 }

 .close-btn {
     background: #ffc543;
 }

 .window-head {
     background: #f44336;
 }
 
 .window-head-system {
	 background: #f44336;
 }
	 
.report {
    color: #c60404;
    text-decoration: none;
}
