 body {
     background: url(../img/helloween.jpg);

 }

 .date {
     background: #e5b116;
     border: 1px solid #dfad19;
 }

 .button {
     background-color: #FF9800;
     border-radius: 26px;
     border: 1px solid #dd8402;
 }

 .menu-items li:not(:last-child) {
    border-right: 1px solid #d05316c7;
 }

 .button-menu-open {
    background-color: #d48103 ;
    border: 1px solid #af6a02 ;
 }

 .menu {
     background: #e95a15;
     border-radius: 26px;
     border: 1px solid #c2511b;
 }

 .window-fold {
     background: #ffbf00;
     border: 1px solid #dfad19;
 }

 .collapse-btn {
     background: #ff9800;
 }

 .close-btn {
     background: #ffc543;
 }

 .window-head {
     background: #f44336;
 }
 
 .window-head-system {
	 background: #f44336;
 }
	 
.report {
    color: #c60404;
    text-decoration: none;
}

.window-standart {
    border: 2px solid #9f3129;
}
