body {
    background: (rgb) 205, 220, 57;

}

.date,
.date2 {
    background: #9e9e9e;
}

.button {
    background-color: #ffc107;
}

.menu {
    background: #2196f3;
}

.greenBar {
    width: 10%;
    height: 30px;
    background-color: #4CAF50;
    text-align: center;
    line-height: 30px;
    color: white;
    text-align: center;
}

.button-menu-open {
    background-color: #e2ab04;
    border: 1px solid #aa8003;
}

.start-download {
/*
    background: #FF9800;
    overflow: hidden;
*/
}

@media screen and (max-width: 800px) {
    .button {
        display: none;
    }
}

