        @font-face {
            font-family: 'Roboto';
            src: url('RobotoMono-Bold.ttf');
        }

        * {
            box-sizing: border-box;
        }

        body {
            background-color: #cddc39;
            font-family: Roboto;
            transition: 1s;
        }

        ul {
            margin: 0;
        }

        .start-download {
            background: url(../img/birthday.jpg);
            overflow: hidden;
            background-size: cover;
            background-position: center;
        }

        .date {
            /*
            border: 1px solid black;
            width: 1263px;
*/
            text-align: center;
            height: 23.33px;
            user-select: none;
            border: 1px solid #8f8d8d;
        }

        .header {
            display: flex;
            justify-content: flex-start;
            align-items: center;
        }

        .button {
            height: 85px;
            width: 85px;
            border: 1px solid #cc9a03;
            font-size: 75px;
            font-family: sans-serif;
            text-align: center;
            cursor: pointer;
            user-select: none;
            border-radius: 12px;
            background-image: url(../img/YarOS_Logo.png);
            background-size: contain;
            margin-left: 8px;
            background-repeat: no-repeat;
            margin-top: 8px;
            z-index: 1;
        }

        .menu {
            margin-left: -135px;
            transition: 1s;
            height: 85px;
            width: 1px;
            border: 1px solid #066bbc;
            overflow: hidden;
            opacity: 0;
            white-space: nowrap;
            border-radius: 12px;
            margin-top: 8px;
            display: flex;
            justify-content: space-around;
        }

        .menu-open {
            margin-left: 0;
            transition: 1s;
            width: 92%;
            text-align: center;
            opacity: 100;
        }

        .menu-items li {
            display: inline-block;
            font-size: 24px;
            padding: 20px 20px 0px 0px;
        }

        #greyProgress {
            width: 80%;
            background-color: #206f23;
            border: 2px solid #fff;
            position: absolute;
            top: 200px;
            /* margin: auto; */
            left: 130px;
        }

        #greenBar {
            width: 10%;
            height: 30px;
            background-color: #4CAF50;
            text-align: center;
            line-height: 30px;
            color: white;
            text-align: center;
        }

        .welcome {
            color: #fff;
            font-size: 40px;
            text-align: center;
            margin-top: 130px;
        }

        .hide-os {
            visibility: collapse;
        }

        .menu-items li {
            cursor: pointer;
            user-select: none;
        }

        .unvisible-window {
            display: none;
        }

        .close-btn {
            background: #F44336;
            color: white;
            border: 0px solid black;
            width: 37px;
            height: 37px;
            font-size: 28px;
            cursor: pointer;
            user-select: none;
            float: right;
        }

        .collapse-btn {
            background: #4CAF50;
            color: white;
            border: 0px solid black;
            width: 37px;
            height: 37px;
            font-size: 28px;
            cursor: pointer;
            user-select: none;
            float: right;
        }

        .window-head {
            /* border: 2px solid black; */
            background: #00b0ff;
            height: 37px;
            width: 369px;
        }

        .window-icon {
            height: 36px;
            float: left;
        }

        .name-window {
            font-size: 25px;
            text-transform: uppercase;
            padding: 15px;
        }

        .window-standart {
            position: absolute;
            border: 2px solid #076bba;
            top: 50%;
            left: 35%;
            background: white;
            display: none;
            user-select: none;
        }

        .main-window {
            padding: 5px 10px;
        }

        .main-window-no-padding {
            padding: 0;
        }

        .system-info {
            display: none;
            position: absolute;
            top: 30%;
            left: 30%;
            font-size: 30px;
            padding: 20px;
            background: white;
        }

        .folding {
            width: 50px;
            height: 400px;
            margin-top: 20px;
        }

        .window-fold {
            width: 50px;
            height: 50px;
            background: #989898;
            border: 1px solid #767575;
            border-radius: 8px;
            text-align: center;
            font-size: 220px;
            font-size: 35px;
            user-select: none;
            margin-top: 5px;
            cursor: pointer;
            margin: 8px;
        }

        .donation {
            text-decoration: none;
            color: yellow;
        }

        /* Calendar */

        #calendar2 {
            width: 190px;
            font: monospace;
            line-height: 1.2em;
            font-size: 15px;
            text-align: center;
            background: white;
            border: 1px solid #b8b6b6;
        }

        #calendar2 thead tr:last-child {
            font-size: small;
            color: rgb(85, 85, 85);
        }

        #calendar2 thead tr:nth-child(1) td:nth-child(2) {
            color: rgb(50, 50, 50);
        }

        #calendar2 thead tr:nth-child(1) td:nth-child(1):hover, #calendar2 thead tr:nth-child(1) td:nth-child(3):hover {
            cursor: pointer;
        }

        #calendar2 tbody td {
            color: rgb(44, 86, 122);
            width: 12px;
        }

        #calendar2 tbody td:nth-child(n+6), #calendar2 .holiday {
            color: rgb(231, 140, 92);
        }

        #calendar2 tbody td.today {
            background: rgb(220, 0, 0);
            color: #fff;
        }

        .bottom-calendar {
            position: absolute;
            bottom: 10px;
            right: 10px;
            user-select: none;
        }

        /* Calendar */

        .report {
            color: red;
            text-decoration: none;
        }

        .window-head-system {
            /* border: 2px solid black; */
            background: #00b0ff;
            height: 37px;
            width: 411px;
        }

        .app-icon {
            height: 79px;
            padding: 6px;
            cursor: pointer;
            user-select: none
        }

        .window-button {
            width: 176px;
            height: 39px;
            background: #4af436;
            color: white;
            border: 2px solid black;
            margin: 5px;
            border-radius: 12px;
            font-size: 24px;
            cursor: pointer;
        }