 body {
            background: url(../img/winter.jpg);
			background-size: cover;
            background-position: center;

        }
        .date {
            background: #97d1ff;
			border: 1px solid #6e9dc2; 
        }
        .button {
            background-color: #10e4ff;
			border-radius: 26px;
			border: 1px solid #11d5d5;
        }

		.button-menu-open {
            background-color: #12bfd6 !important;
            border: 1px solid #15c5c5 !important;
        }

        .menu {
            background: #41c4ff;
			border: 1px solid #0681b8;
    		border-radius: 26px;
        }
		.window-fold {
			background: #95f3ff;
			border: 1px solid #77bbc4;
		}
		.collapse-btn {
			background: #07ffe8;
		}
		.close-btn {
			background: #008eff;
		}
		
		.window-head-system {
			background: #00b0ff;
        }
		#greenBar {
			width: 10%;
			height: 30px;
			background-color: #4CAF50;
			text-align: center;
			line-height: 30px;
			color: white;
			text-align: center;
		}
		.start-download {
			background: #FF9800;
			overflow: hidden;
		}