 body {
            background: url(winter.jpg);
			background-size: cover;
            background-position: center;

        }
        .date {
            background: #97d1ff; 
        }
        .button {
            background: #10e4ff;
			border-radius: 26px;
        }
        .menu {
            background: #41c4ff;
        }
		.window-fold {
			background: #95f3ff;
		}
		.collapse-btn {
			background: #07ffe8;
		}
		.close-btn {
			background: #008eff;
		}
		#greenBar {
			width: 10%;
			height: 30px;
			background-color: #4CAF50;
			text-align: center;
			line-height: 30px;
			color: white;
			text-align: center;
		}
		.start-download {
			background: #FF9800;
			overflow: hidden;
		}